/* To modify css the website */
/* Can modify any things included variables */
/* use !important at the last of attribute to overwrite */

/* 
:root {
    --header: rgba(29, 30, 33, 0.56);
    --container: #0d0d0e;
    --card: #1e1e1e;
    --text: #fff;
    --flex: transparent;
    --download: rgb(76, 175, 80);

    --editor: #323232;

}


.toolbar, .top-toolbar {
    backdrop-filter: blur(10px) !important;
    background-color: var(--header) !important;
}

.zb-button, .zb-icon, .bread-crumbs > a, li, span {
    color: var(--text) !important;
}

.route-container {
    background-color: var(--container) !important;
}

.zb-card {
    background-color: var(--card) !important;

    color: var(--text) !important;
}

.previous, .static-container, .content-resource, .participation, .challenge {
    background-color: var(--flex) !important;
}

.activity-title-bar, .activity-title-bar > * {
    background-color: var(--card) !important;
}

.ace-zyautumn{
    background-color: var(--editor) !important;
    color: var(--text) !important;
}

.downloadBtn {
    background-color: var(--download) !important;
}

.ace-zyautumn .ace_gutter{
    background-color: #3b3b3b !important;
    color: rgb(153,153,153) !important;
} */

 /* Tesing */